body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

header {
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
	color : rgb(211, 174, 66);
	font-size: 40px;
	font-family: courier;
}

h2{
	font-size: 26px;
	color : rgb(69, 221, 252);
}

h3 {
	font-size: 20px;
	color: rgb(50, 50, 50);
	text-decoration: underline;
}
h4 {
	color: black;
}

nav {
    display: flex;
	flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 15px;
	font-family: courier;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; 
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: rgb(211, 174, 66);
}

.feature {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 18px;
}

.image {
    float: left;
}

.image-credit {
    font-size: 60%;
    color: blue;
}

#microbit {
    width: 300px;
	float: left;
	margin-right: 50px;
}

.personnage {
    padding-bottom: 20px;
}

#paul {
    width: 100px;
	float: left;
	margin-right: 50px;
}

#mahdi {
    width: 100px;
	float: left;
	margin-right: 50px;
}

footer {
    text-align: center;
    padding: 10px;
	background-color : rgb(69, 221, 252);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
